<div class="match-bet" id="<%= match_bet.css_id %>">
  <div class="row">
    <div class="small-3 column">
      <p><%= Match.model_name.human(count: 1) %> #<%= match_bet.match.number %></p>
    </div>
    <div class="small-3 column">
      <p><%= l match_bet.match.played_at, format: :short %></p>
    </div>
    <div class="small-6 column">
      <p><%= match_bet.match.played_on_text %></p>
    </div>
  </div>
  <div class="row">
  <div class="row">
    <div class="small-4 column">
      <p>
        <%= match_bet.match.team_a_info %>
      </p>
    </div>
    <div class="small-1 column">
      <p>X</p>
    </div>
    <div class="small-4 column">
      <p>
        <%= match_bet.match.team_b_info %>
      </p>
    </div>
    <div class="small-3 column">
      <p><%= link_to t('.change'), match_bet_path(match_bet.match) %></p>
    </div>
  </div>
</div>
