<h2><%= t '.welcome' %></h2>
<p><%= t '.whats_your_email' %></p>

<%= form_tag one_time_token_path, method: :post do %>
  <%= label_tag :email, t('activerecord.attributes.user.email') %>
  <%= text_field_tag :email  %>
  <%= submit_tag t('common.submit') %>
<% end %>
