<% content_for(:title) { t('.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t '.title' %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><%= t '.whats_your_email' %></p>
  </div>
</div>

<%= form_tag one_time_token_path, method: :post do %>
  <div class="row">
    <div class="small-12 column">
      <%= label_tag :email, t('activerecord.attributes.user.email') %>
      <%= text_field_tag :email, params[:email], placeholder: t('.example_email'), autofocus: true, class: ('error' if @user.errors.include?(:email)) %>
      <% if @user.errors.include?(:email) %>
        <small class="error"><%= @user.errors.get(:email).to_sentence %></small>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= submit_tag t('common.submit'), disable_with: t('common.submiting'), class: 'button radius' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 column">
    <p><%= t('.first_time_warning', link: link_to(t('pages.help.title'), help_path)).html_safe %></p>
  </div>
</div>
