<h2><%= t '.welcome' %></h2>
<p><%= t '.type_your_auth_code' %></p>

<%= form_tag login_path, method: :post do %>
  <%= label_tag :email, t('activerecord.attributes.user.email') %>
  <%= @email %>
  <%= hidden_field_tag :email, @email %>

  <%= label_tag :password, t('activerecord.attributes.user.authentication_token') %>
  <%= text_field_tag :password %>

  <%= check_box_tag :remember_me, true, @remember_me %>
  <%= label_tag :remember_me, t('.remember_me') %>

  <%= submit_tag t('common.submit') %>
<% end %>
