<div class="row">
  <div id="<%= match.css_id %>" class="small-10 small-centered column match">
    <h4><%= Match.model_name.human(count: 1) %> #<%= match.number %></h4>
    <p>
      <%= match.round_text %>
      <% if match.group.present? %>
        | <%= Match.human_attribute_name(:group) %> <%= match.group %>
      <% end %>
    </p>
    <p><%= l match.played_at, format: :detailed %> @ <%= match.played_on_text %></p>

    <% if match.played? %>
      <p><%= t '.result' %>:</p>
      <p>
        <%= match.team_a_flag %>
        <%= match.team_a_name %>
        <%= match.goals_a %>
         X
        <%= match.goals_b %>
        <%= match.team_b_name %>
        <%= match.team_b_flag %>
      </p>
    <% else %>
      <p><%= t '.result' %>: <span class="subheader"><%= t '.not_yet_played' %></span></p>
      <p>
        <%= match.team_a_flag %>
        <%= match.team_a_name %>
        ?
         X
        ?
        <%= match.team_b_name %>
        <%= match.team_b_flag %>
      </p>
    <% end %>

    <% if match.betted_by?(@_bet) %>
      <% match_bet = @match_bets.detect { |qb| qb.match_id == match.id } %>
      <p><%= t '.your_answer' %>:</p>
      <p>
        <%= match.team_a_flag %>
        <%= match.team_a_name %>
        <%= match_bet.goals_a %>
         X
        <%= match_bet.goals_b %>
        <%= match.team_b_name %>
        <%= match.team_b_flag %>
        <% if match.bettable? %>
          <span>(<%= link_to t('.update'), my_match_bet_path(match) %>)</span>
        <% end %>
      </p>
      <p><%= t '.you_may_change_your_bet_until', datetime: l(match.bettable_until, format: :detailed ) %></p>
    <% else %>
      <p>
        <%= t '.your_answer' %>: <span class="subheader"><%= t '.not_answered' %></span>
        <% if match.bettable? %>
          <span>(<%= link_to t('.create'), my_match_bet_path(match) %>)</span>
        <% end %>
      </p>
      <p><%= t '.you_may_make_your_bet_until', datetime: l(match.bettable_until, format: :detailed ) %></p>
    <% end %>
  </div>
</div>
