<div class="row">
  <div id="<%= question.css_id %>" class="small-10 small-centered column question">
    <h4><%= Question.model_name.human(count: 1) %> #<%= question.number %></h4>
    <p><strong><%= question.body %></strong></p>

    <% if question.answered? %>
      <p><%= Question.human_attribute_name(:answer) %>: <%= question.answer %></p>
    <% else %>
      <p><%= Question.human_attribute_name(:answer) %>: <span class="subheader"><%= t '.not_yet_answered' %></span></p>
    <% end %>

    <% if question.betted_by?(@_bet) %>
      <% question_bet = @question_bets.detect { |qb| qb.question_id == question.id } %>
      <p>
        <%= t '.your_answer' %>: <%= question_bet.answer_text %>
        <% if question.bettable? %>
          <span>(<%= link_to t('.update'), my_question_bet_path(question) %>)</span>
        <% end %>
      </p>
      <p><%= t '.you_may_change_your_bet_until', datetime: l(question.bettable_until, format: :detailed ) %></p>
    <% else %>
      <p>
        <%= t '.your_answer' %>: <span class="subheader"><%= t '.not_answered' %></span>
        <% if question.bettable? %>
          <span>(<%= link_to t('.create'), my_question_bet_path(question) %>)</span>
        <% end %>
      </p>
      <p><%= t '.you_may_make_your_bet_until', datetime: l(question.bettable_until, format: :detailed ) %></p>
    <% end %>
  </div>
</div>
