<% content_for(:title) { t('users.index.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t('users.index.title') %></h2>
    <table style="width:300px">
      <tr>
        <td><%= t('users.index.raking') %></td>
        <td><%= t('users.index.email') %></td>
        <td><%= t('users.index.score') %></td>
      </tr>
      <%= render partial: 'bets/bet', collection: @bets %>
    </table>
  </div>
</div>



