<% content_for(:title) { t('users.index.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= Bet.model_name.human(count: 2) %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3><%= t('.general_classification') %></h3>
    <table>
      <thead>
        <tr>
          <th class="hide-for-small-only"><%= t('.ranking') %></th>
          <th><%= t('.user') %></th>
          <th class="hide-for-small-only"><%= t('.completeness') %></th>
          <th class="hide-for-small-only"><%= t('.payment') %></th>
          <th><%= t('.points') %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% index = 0 %>
        <% @bets.each do |bet| %>
          <% index += 1 %>
          <tr>
            <td class="hide-for-small-only"><%= index %></td>
            <td><%= bet.user.name_or_email %></td>
            <td class="hide-for-small-only"><%= bet.percentage %></td>
            <td class="hide-for-small-only"><%= bet.payment_status %></td>
            <td><%= bet.points %></td>
            <td><%= link_to t('.view'), bet_path(bet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
