<% content_for(:title) { t('.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t '.title' %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><%= t '.current_score' %>: <%= @bet.points %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3><%= Match.model_name.human(count: 2) %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><%= t '.matches_betted', count: @bet.matches_count %> (<%= link_to t('common.view'), bet_matches_path(filter: :betted) %>)</p>
    <p><%= t '.matches_to_bet', count: @matches.size %> (<%= link_to t('common.view'), bet_matches_path(filter: :to_bet) %>)</p>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3><%= Question.model_name.human(count: 2) %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><%= t '.questions_betted', count: @bet.questions_count %> (<%= link_to t('common.view'), bet_questions_path(filter: :betted) %>)</p>
    <p><%= t '.questions_to_bet', count: @questions.size %> (<%= link_to t('common.view'), bet_questions_path(filter: :to_bet) %>)</p>
  </div>
</div>
