<% content_for(:title) { t('.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t '.title' %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <p><%= t '.current_score' %>: <%= @bet.points %></p>
  </div>
</div>

<div class="row">
  <div class="small-4 column">
    <h3><%= Match.model_name.human(count: 2) %></h3>
  </div>
  <div class="small-8 column">
    <p><%= @bet.match_bets.count %> / <%= Match.bettable.count %></p>
  </div>
</div>

<%# TODO remove logic from view!! %>
<% @_matches.each do |match| %>
  <% match_bet = MatchBetPresenter.new(@bet.match_bets.find_or_initialize_by(match: match)) %>
  <%= render partial: 'match_bets/match_bet', locals: { match_bet: match_bet } %>
<% end %>

<div class="row">
  <div class="small-4 column">
    <h3><%= Question.model_name.human(count: 2) %></h3>
  </div>
  <div class="small-8 column">
    <p><%= @bet.question_bets.count %> / <%= Question.count %></p>
  </div>
</div>
