<% content_for(:title) { t('.title') } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= t '.title' %></h2>
    <p><%= t '.current_score' %>: <%= @bet.points %></p>

    <% if @bet.paid? %>
      <p><%= t '.bet_is_paid' %></p>
    <% else %>
      <p>
        <%= t '.bet_is_not_paid', date: l(@bet.payment_deadline, format: :detailed) %>
        <%= link_to t('.pay_now'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>.
      </p>
    <% end %>

    <% if @matches.any? %>
      <p><strong><%= t('.you_have_matches_to_bet', count: @matches.size, link: link_to(t('.do_it_now'), match_bet_path(@matches.first))).html_safe %>!</strong></p>
    <% end %>

    <% if @questions.any? %>
      <p><strong><%= t('.you_have_questions_to_bet', count: @questions.size, link: link_to(t('.do_it_now'), question_bet_path(@questions.first))).html_safe %>!</strong></p>
    <% end %>

    <h3><%= Match.model_name.human(count: 2) %></h3>
    <p><%= t '.matches_betted', count: @bet.matches_count %> (<%= link_to t('common.view'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>)</p>
    <p><%= t '.matches_to_bet', count: @matches.size %> (<%= link_to t('common.view'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>)</p>

    <h3><%= Question.model_name.human(count: 2) %></h3>
    <p><%= t '.questions_betted', count: @bet.questions_count %> (<%= link_to t('common.view'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>)</p>
    <p><%= t '.questions_to_bet', count: @questions.size %> (<%= link_to t('common.view'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %>)</p>
  </div>
</div>
