<% content_for(:title) { t('.title') } %>

<div class="row">
  <div class="small-12 columns">
    <h2><%= t('.title') %> #<%= @match.number %></h2>
  </div>
</div>

<%= form_for @_match, url: admin_match_path(@match), method: :put, html: {} do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <ul>
        <li><%= Match.human_attribute_name(:number) %>: <%= @match.number %></li>
        <li><%= Match.human_attribute_name(:round) %>: <%= @match.round_text %></li>
        <li><%= Match.human_attribute_name(:group) %>: <%= @match.group_or_na %></li>
        <li><%= Match.human_attribute_name(:played_at) %>: <%= l @match.played_at, format: :detailed %></li>
        <li><%= Match.human_attribute_name(:played_on) %>: <%= @match.played_on_text %></li>
      </ul>

      <div class="row">
        <div class="small-6 columns">
          <%= render partial: @match.admin_edit_team_partial, locals: {form: f, match: @match, team: :team_a} %>
        </div>
        <div class="small-6 columns">
          <%= render partial: @match.admin_edit_team_partial, locals: {form: f, match: @match, team: :team_b} %>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <%= f.label :goals_a %>
          <%= f.text_field :goals_a, {class: ('error' if @match.errors.include?(:goals_a))} %>
          <% if @match.errors.include?(:goals_a) %>
            <small class="error"><%= @match.errors.get(:goals_a).to_sentence %></small>
          <% end %>
        </div>
        <div class="small-6 columns">
          <%= f.label :goals_b %>
          <%= f.text_field :goals_b, {class: ('error' if @match.errors.include?(:goals_b))} %>
          <% if @match.errors.include?(:goals_b) %>
            <small class="error"><%= @match.errors.get(:goals_b).to_sentence %></small>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <%= f.label :penalty_goals_a %>
          <%= f.text_field :penalty_goals_a, {class: ('error' if @match.errors.include?(:penalty_goals_a))} %>
          <% if @match.errors.include?(:penalty_goals_a) %>
            <small class="error"><%= @match.errors.get(:penalty_goals_a).to_sentence %></small>
          <% end %>
        </div>
        <div class="small-6 columns">
          <%= f.label :penalty_goals_b %>
          <%= f.text_field :penalty_goals_b, {class: ('error' if @match.errors.include?(:penalty_goals_b))} %>
          <% if @match.errors.include?(:penalty_goals_b) %>
            <small class="error"><%= @match.errors.get(:penalty_goals_b).to_sentence %></small>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <%= f.submit t('common.submit'), class: 'button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="small-12 column">
    <p><%= link_to t('.all'), admin_matches_path %> | <%= link_to t('.view'), admin_match_path(@match) %> | <%= @match.link_to_previous_admin_edit %> | <%= @match.link_to_next_admin_edit %></p>
  </div>
</div>
