<p class="panel radius"><%= t '.status_explanation' %></p>
<p><%= t('.cost_explanation', value: number_to_currency(bet.cost), link: link_to(t('.the_rules'), help_path)).html_safe %></p>
<p><%= t '.pagseguro_explanation' %></p>
<p><%= t '.what_to_do' %></p>

<%= link_to t('.continue_payment_process'), payment.checkout_url, class: 'button radius' %>
