<div class="row">
  <div class="small-12 column">
    <p><%= match.round_text %></p>
    <p><%= l match.played_at, format: :detailed %></p>
    <p><%= match.played_on_text %></p>
    <p>
      <%= match.team_a_flag_or_? %>
      <%= match.team_a_name_or_? %>
      <%= match.goals_a_or_? %>
      <%= "(#{match.penalty_goals_a_or_?})".html_safe if match.with_known_penalty_goals? %>
       x
      <%= "(#{match.penalty_goals_b_or_?})".html_safe if match.with_known_penalty_goals? %>
      <%= match.goals_b_or_? %>
      <%= match.team_b_name_or_? %>
      <%= match.team_b_flag_or_? %>
      <% if match.with_known_penalty_goals? %>
        (<%= t('.on_penaltys') %>)
      <% end %>
    </p>
  </div>
</div>
