<% content_for(:title) { "#{Match.model_name.human(count: 1)} ##{@match.number}" } %>

<div class="row">
  <div class="small-12 column">
    <h2><%= Match.model_name.human(count: 1) %> #<%= @match.number %></h2>
  </div>
</div>

<%= render partial: 'matches/match', object: @match %>

<div class="row">
  <div class="small-12 column">
    <p><%= link_to t('.all'), matches_path %> | <%= @match.link_to_previous %> | <%= @match.link_to_next %></p>
  </div>
</div>
