<%# http://foundation.zurb.com/docs/components/topbar.html %>
<% if logged_in? %>
  <ul class="right">
    <li><%= link_to t('bets.show.title'), bet_path %></li>
    <li class="has-dropdown">
      <%= link_to current_user.email, '#' %>
      <ul class="dropdown">
        <li><%= link_to t('common.settings'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %></li>
        <li><%= link_to t('common.logout'), logout_path %></li>
      </ul>
    </li>
  </ul>
  <ul class="left">
    <li><%= link_to Match.model_name.human(count: 2), matches_path %></li>
    <li><%= link_to Question.model_name.human(count: 2), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %></li>
    <li><%= link_to t('bets.index.title'), 'javascript:void(0)', onclick: "alert('#{I18n.t('common.soon')}');" %></li>
    <li><%= link_to t('pages.help.title'), help_path %></li>
  </ul>
<% else %>
  <ul class="right">
    <li><%= link_to t('common.login'), login_path %></li>
  </ul>
  <ul class="left">
    <li><%= link_to t('pages.help.title'), help_path %></li>
  </ul>
<% end %>
