<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['APP_NAME'] %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1><%= ENV['APP_NAME'] %></h1>
    </div>
    <div id="main">
      <%= render partial: 'shared/flash_messages', locals: {flash: flash} %>
      <%= yield %>
    </div>
    <div id="footer">
      <p><%= ENV['APP_NAME'] %></p>
    </div>
  </body>
</html>
